[Unit]
Description=Syncthing

[Service]
Type=simple
User=%I
Environment=STNORESTART=yes
ExecStart=/usr/bin/syncthing
Restart=on-failure

CapabilityBoundingSet=
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
